.wrapper{
	margin: auto;
	width: 720px;
}

.menu_div{
	height: 50px;
	width: 100%;
	background-color: skyblue;
	margin: auto;
	margin-top: 0px;
  text-align: center;
}

.table1{
  height: 50px;
  width: 80%;
  background-color: white;
  margin: auto;
  margin-top: 0px;
  text-align: left;
}


.body_div{
	margin-top: 20px;
}

a {
	margin-top: :20px;
	padding-left: 18px;
	display: inline-block;
	width: 150px;
	font-style: bold;
	font-size: 20px;
	color: white;
	background-color:red;
	text-decoration: none;
}

a:hover{
	background-color: yellow;
}

#a{
	background-color: black;
}



#vercho{
			background-color:yellow; color:black; text-transform: 20px;  width:15%; padding: 5px;
		}

#ftter{
		border-top-style: solid; border-top-color: yellow; border-bottom-style: solid; border-bottom-color: yellow; 
    background-color:skyblue; text-align: center;
	  }

#ftterins{
		background-color: yellow;
	  }

* {
  box-sizing: border-box;
}

/* Style inputs for contact form*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container2 {
  border-radius: 5px;
  background-color: pink;
  padding: 10px;
  width: 70%
  
  margin-left: : 20%;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  #lnk1{
      background-color: skyblue; width: 100%; padding: 20px; text-transform: 20px; text-align: left;
    }

   .body {
          background-color: white;
    }

 
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
	  